@model IEnumerable<AccreditGitHubUsers.Models.GithubProject>

@{
    ViewBag.Title = "Github Projects";
}

<h2>Github Profile: @Model.First().Owner.UserName</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </th>
        <th>
            Forks
        </th>
    </tr>

@foreach (var project in Model) {
    <tr>
        <td>
            @project.Owner.UserName
        </td>
        <td>
            @project.ProjectName
        </td>
        <td>
            @project.NumberOfForks
        </td>
    </tr>
}

</table>
