@model AccreditGitHubUsers.Models.GithubProfile

@{
    ViewBag.Title = "Home";
}

<h2>Search for a Github user</h2>

<!-- Search Form Without JQuery -->
<div class="flex-row">
    <div class="col-10 search_bar">
        @using (Html.BeginForm("Index", "GithubProfile", FormMethod.Post))
    {
        <span>Github UserName:</span>  @Html.TextBox("search")
        <input class="btn btn-primary" type="submit" value="search" />
    }
    </div>
</div>


@if (Model == null)
{
    <div class="flex-row justify-content-center">
        <div class="col">
            <p style="color:darkred">No Github User found! Please ensure the name is correct!</p>
        </div>
    </div>
}
else {

        <table class="table" id="user_table">
            <tr>
                <th>
                    Avatar Image
                </th>
                <th>
                    Username
                </th>
                <th>
                    Location
                </th>
                <th>
                    View Profile
                </th>
            </tr>


            <tr class="table_row">
                <td>
                    <img src="@Html.DisplayFor(model => model.Avatar_Url)" alt="Avatar_Image" class="avatar_image"/>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Login)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Location)
                </td>
                <td>
                    @Html.ActionLink("Projects", "Index", "GithubProjects", Model, null)
                </td>
            </tr>

        </table>

}


<div class="flex-row" style="margin-top: 20px;">
    <p>Test 1 (Valid Username with Projects): <span style="font-weight: bold;">robconery</span></p>
    <p>Test 2 (Invalid Username): <span style="font-weight: bold;">robconer</span></p>
    <p>Test 3 (Valid Username with no Projects): <span style="font-weight: bold;">techyay</span></p>
</div>

<div class="flex-row" style="margin-top: 40px;">
    <p><span style="font-weight: bold;">Note:</span> You need to type the full UserName for the GitHub user in order to find a User. (Partial names dont return a list of possible results)</p>
</div>
